# Ignore custom local config
/local-config.php

# Ignore custom .htaccess
.htaccess

# Ignore customizable MySQL scripts
/db/*
# Make an exception for our testing dump
!/db/01-forofyl_phpbb*

# Ignore files automatically created by our OS
.*
# Make an exception for Git files
!.git*